.portfolioSection {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.portfolioPlaceholder {
    height: 292px;
    display: flex;
    padding: 60px 0;
    align-items: center;
    justify-content: left;
}

.portfolioItems {
    margin-top: 100px;
}

.portfolioItem {
}

.portfolioSection .top_section {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    margin-bottom: 72px;
}

.portfolioSection .bottom_section {
    display: flex;
    padding: 0 30px;
    margin-bottom: 80px;
    justify-content: space-between;

}

.portfolio_description {
    font-size: 20px;
    color: white;
    text-align: center;
}

.portfolioSection .top_section .one {
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 10px 20px;
    max-width: 450px;
    width: 100%;
    height: 450px;
    /*background-image: url("images/Aram.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 10px 18px #888888;
}

.portfolioSection .top_section .two {
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 10px 20px;
    max-width: 450px;
    width: 100%;
    height: 450px;
    background-image: url("https://i.pinimg.com/originals/c6/50/7f/c6507f7e253667b10d70796d97ac4931.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 10px 18px #888888;
}

.portfolioSection .top_section .three {
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 10px 20px;
    max-width: 450px;
    width: 100%;
    height: 450px;
    background-image: url("https://www.teahub.io/photos/full/173-1738154_pirates-computer-skeleton-minimalism-skull-hd-wallpapers-music.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 10px 18px #888888;
}

.portfolioSection .bottom_section .four {
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 10px 20px;
    max-width: 450px;
    width: 100%;
    height: 450px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRduDHUEZGzv_siJDlLHFPeSqg3POKV3SElDR82zhFXGG3ohEJDKuRmiPT6d6ga7-2sSV4&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
    z-index: 5;
}

.portfolioSection .bottom_section .five {
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 10px 20px;
    max-width: 450px;
    width: 100%;
    height: 450px;
    background-image: url("https://wallpaperaccess.com/full/1558939.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
    z-index: 4;
}

.portfolioSection .bottom_section .six {
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 10px 20px;
    max-width: 450px;
    width: 100%;
    height: 450px;
    background-image: url("https://w0.peakpx.com/wallpaper/113/624/HD-wallpaper-material-color-palette-8k-abstract-artist-artwork-digital-art.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 10px 18px #888888;
    z-index: 3;
}

.portfolioSection .portfolio_button {
    display: flex;
    justify-content: center;

}

.portfolioSection .portfolio_button .btn {
    height: 96px;
    width: 396px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    background-color: #426322;
    box-shadow: 5px 10px 18px #888888;
    cursor: pointer;
}
