*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: var(--lightGrey);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --primary: #646464;
    --black: #000000;
    --white: #ffffff;
    --lightGrey: #e0e0e0;
    --textColor: #454545;
    --placeholderColor: #d4d8da;
    --darkPurple: #A66CFF;
    --purple: #9C9EFE;
    --lightPurple: #AFB4FF;
    --extraLightPurple: #B1E1FF;
}
