@media screen and (max-width: 1440px) {
    .title {
        max-width: 680px;
        width: 100%;
        font-size: 150px;
    }

    .person_block {
        height: 800px;
    }

    .about_block {
        padding: 0 30px;
    }

    .about_block .about_body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about_block .about_body .liner {
        max-width: 510px;
        width: 100%;
        height: 510px;
        margin: 0 0 30px 0;
    }

    .about_block .about_body .liner .image_block {
        max-width: 500px;
        width: 100%;
        height: 500px;
    }

    .about_block .about_body .about_info {
        max-width: 1230px;
        width: 100%;
        padding: 0;
    }

    .about_block .about_body .about_info .text {
        font-size: 32px;
        line-height: 40px;
    }

    .portfolio_block .portfolio_projects_block {
        margin-top: 70px;
    }

    .portfolio_block .bottom_section {
        margin-top: 50px;
    }

    .portfolio_block .top_section .one,
    .portfolio_block .top_section .two,
    .portfolio_block .top_section .three,
    .portfolio_block .bottom_section .four,
    .portfolio_block .bottom_section .five,
    .portfolio_block .bottom_section .six {
        max-width: 300px;
        width: 100%;
        height: 300px;
    }

    .portfolio_block .portfolio_button .btn {
        width: 340px;
        height: 80px;
        font-size: 26px;
    }

    .dot {
        width: 20px;
        height: 20px;
    }

    .middle_line {
        width: 1px;
        height: 650px;
        border-left: 1px solid #D1D1D1;
        position: absolute;
        top: -36px;
        left: 300px;
    }

    .experience_block {
        height: 1200px;
    }

    .experience_block .experience_placeholder {
        height: 200px;
    }

    .experience_block .experience_info_block .item .left .name,
    .experience_block .experience_info_block .item .left .date,
    .experience_block .experience_info_block .item .right .profession {
        font-size: 22px;
        line-height: 28px;
    }

    .experience_block .experience_info_block .item .right .description {
        font-size: 18px;
        line-height: 30px;
    }

}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 110px;
    }

    .person_block {
        height: 600px;
    }

    .person_block .person_name {
        font-size: 80px;
        line-height: 50px;
    }

    .person_block .person_profession {
        font-size: 40px;
        line-height: 10px;
    }

    .about_block {
        padding: 0 30px;
    }

    .about_block .about_body .liner {
        max-width: 390px;
        width: 100%;
        height: 390px;
        margin: 0 0 35px 0;
    }

    .about_block .about_body .liner .image_block {
        max-width: 380px;
        width: 100%;
        height: 380px;
    }

    .about_block .about_body .about_info .text {
        font-size: 26px;
        line-height: 40px;
    }


    .portfolio_block .portfolio_projects_block {
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .portfolio_block .portfolio_projects_block .top_section {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portfolio_block .portfolio_projects_block .bottom_section {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portfolio_block .portfolio_projects_block .top_section .one,
    .portfolio_block .portfolio_projects_block .top_section .two,
    .portfolio_block .portfolio_projects_block .top_section .three {
        max-width: 350px;
        width: 100%;
        height: 300px;
        margin-top: 5px;
    }

    .portfolio_block .portfolio_projects_block .bottom_section .four {
        max-width: 350px;
        width: 100%;
        height: 300px;
        margin-top: 5px;
        z-index: 1;
    }

    .portfolio_block .portfolio_projects_block .bottom_section .five {
        max-width: 350px;
        width: 100%;
        height: 300px;
        margin-top: 5px;
        z-index: 2;
    }

    .portfolio_block .portfolio_projects_block .bottom_section .six {
        max-width: 350px;
        width: 100%;
        height: 300px;
        margin-top: 5px;
        z-index: 3;
    }

    .portfolio_block .portfolio_button {
        margin-top: 50px;
    }

    .portfolio_block .portfolio_button .btn {
        width: 240px;
        height: 60px;
        font-size: 18px;
    }

    .dot {
        width: 14px;
        height: 14px;
        margin-right: 28px;
    }

    .middle_line {
        width: 1px;
        height: 480px;
        border-left: 1px solid #D1D1D1;
        position: absolute;
        top: -32px;
        left: 220px;
    }

    .experience_block {
        height: 1000px;
    }

    .experience_block .experience_placeholder {
        height: 160px;
    }

    .experience_block .experience_info_block .item .right {
        margin-left: 90px;
    }

    .experience_block .experience_info_block .item .left .name,
    .experience_block .experience_info_block .item .left .date,
    .experience_block .experience_info_block .item .right .profession {
        font-size: 16px;
        line-height: 20px;
    }

    .experience_block .experience_info_block .item .right .description {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 70px;
    }

    .person_block {
        height: 350px;
        text-align: center;
    }

    .person_block .person_name {
        font-size: 44px;
    }

    .person_block .person_profession {
        font-size: 30px;
    }

    .about_block {
        height: 100%;
    }

    .about_block .about_placeholder {
        max-width: 300px;
        width: 100%;
        display: flex;
        align-items: center;
        transform: translateX(100px);
    }

    .about_block .about_body .liner {
        max-width: 210px;
        width: 100%;
        height: 210px;
        margin: 0 0 60px 0;
    }

    .about_block .about_body .liner .image_block {
        max-width: 200px;
        width: 100%;
        height: 200px;
    }

    .about_block .about_body .about_info .text {
        font-size: 20px;
        line-height: 30px;
    }

    .portfolio_block .portfolio_placeholder {
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
    }

    .portfolio_block .portfolio_projects_block {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .portfolio_block .portfolio_projects_block .top_section {
        margin-top: 0;
        padding: 0;
    }

    .portfolio_block .portfolio_projects_block .bottom_section {
        margin: 0;
        padding: 0;
    }

    .dot {
        width: 12px;
        height: 12px;
        margin-right: 22px;
    }

    .middle_line {
        width: 1px;
        height: 450px;
        border-left: 1px solid #D1D1D1;
        position: absolute;
        top: -20px;
        left: 160px;
    }

    .experience_block {
        height: 700px;
    }

    .experience_block .experience_placeholder {
        height: 130px;
        padding: 0;
    }

    .experience_block .experience_info_block {
        margin: 0;
    }

    .experience_block .experience_info_block .item {
        padding: 0 10px;
    }

    .experience_block .experience_info_block .item .right {
        margin-left: 55px;
    }

    .experience_block .experience_info_block .item .left .name,
    .experience_block .experience_info_block .item .left .date,
    .experience_block .experience_info_block .item .right .profession {
        font-size: 14px;
        line-height: 18px;
    }

    .experience_block .experience_info_block .item .right .description {
        font-size: 12px;
        line-height: 18px;
    }

    .contact_container {
        margin-bottom: 80px;
    }

    .contact_block {
        margin: 30px auto;
    }

    .twitter_block > a > img,
    .medium_block > a > img,
    .discord_block > a > img,
    .email_block > a > img,
    .linkedin_block > a > img,
    .upwork_block > a > img,
    .git_block > a > img {
        width: 30px;
        height: 30px;
    }

    .contact_block .one_section .twitter_block,
    .contact_block .one_section .medium_block,
    .contact_block .one_section .discord_block,
    .contact_block .two_section .email_block,
    .contact_block .two_section .linkedin_block,
    .contact_block .two_section .upwork_block,
    .contact_block .two_section .git_block {
        margin-right: 20px;
    }

}

@media screen and (max-width: 425px) {
    .title {
        font-size: 50px;
    }

    .person_block {
        height: 250px;
        text-align: center;
    }

    .person_block .person_name {
        font-size: 32px;
        line-height: 40px;
    }

    .person_block .person_profession {
        font-size: 22px;
    }

    .about_block .about_placeholder {
        height: 150px;
        max-width: 220px;
        width: 100%;
        display: flex;
        align-items: center;
        transform: translateX(70px);
    }

    .about_block .about_body .liner {
        max-width: 160px;
        width: 100%;
        height: 160px;
        margin: 0 0 80px 0;
    }

    .about_block .about_body .liner .image_block {
        max-width: 150px;
        width: 100%;
        height: 150px;
    }

    .about_block .about_body .about_info .text {
        font-size: 14px;
        line-height: 20px;
    }

    .portfolio_block .portfolio_projects_block .top_section .one,
    .portfolio_block .portfolio_projects_block .bottom_section .four,
    .portfolio_block .portfolio_projects_block .top_section .two,
    .portfolio_block .portfolio_projects_block .top_section .three,
    .portfolio_block .portfolio_projects_block .bottom_section .five,
    .portfolio_block .portfolio_projects_block .bottom_section .six {
        max-width: 350px;
        width: 100%;
        height: 220px;
    }

    .portfolio_block .portfolio_button .btn {
        width: 180px;
        height: 40px;
        font-size: 14px;
    }

    .dot {
        width: 10px;
        height: 10px;
        margin-right: 12px;
    }

    .middle_line {
        width: 1px;
        height: 300px;
        border-left: 1px solid #D1D1D1;
        position: absolute;
        top: -20px;
        left: 110px;
    }

    .experience_block {
        height: 480px;
    }

    .experience_block .experience_placeholder {
        height: 110px;
        padding: 0;
    }

    .experience_block .experience_info_block {
        margin: 0;
    }

    .experience_block .experience_info_block .item {
        padding: 0 5px;
    }

    .experience_block .experience_info_block .item .right {
        margin-left: 35px;
    }

    .experience_block .experience_info_block .item .left .name,
    .experience_block .experience_info_block .item .left .date,
    .experience_block .experience_info_block .item .right .profession {
        font-size: 10px;
        line-height: 12px;
    }

    .experience_block .experience_info_block .item .right .description {
        font-size: 8px;
        line-height: 12px;
    }

    .contact_container {
        margin-bottom: 50px;
    }

    .contact_block {
        width: 100%;
        margin: 20px auto;
    }

    .twitter_block > a > img,
    .medium_block > a > img,
    .discord_block > a > img,
    .email_block > a > img,
    .linkedin_block > a > img,
    .upwork_block > a > img,
    .git_block > a > img {
        width: 20px;
        height: 20px;
    }

    .contact_block .one_section .twitter_block,
    .contact_block .one_section .medium_block,
    .contact_block .one_section .discord_block,
    .contact_block .two_section .email_block,
    .contact_block .two_section .linkedin_block,
    .contact_block .two_section .upwork_block,
    .contact_block .two_section .git_block {
        margin-right: 10px;
    }

}

@media screen and (max-width: 375px) {
    .contact_container {
        display: none;
    }

    .contact_hide {
        display: none;
    }
}

@media screen and (min-width: 376px) {
    .slider_container {
        display: none;
    }

    .contact_show {
        display: none;
    }
}
